@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin sm {
  @media (min-width: 0) and (max-width: #{$sizeSm - 1px}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$sizeSm}) and (max-width: #{$sizeMd - 1px}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$sizeMd}) and (max-width: #{$sizeLg - 1px}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$sizeLg}) {
    @content;
  }
}