.box-animation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  div {
    transition: all .3s;
    z-index: 9;
    border-radius: 0;
    background-color: $contactBg;
  }
}