form {
  position: relative;
  margin-top: 100px;
  width: 600px;
  .inline-groups {
    display: flex;
    .input-group {
      display: flex;
      flex: 1;
      border-width: 0 !important;
      &:not(:first-of-type) {
        border-left: 1px solid $formBorderColor !important;
      }
    }
  }
  .input-group {
    position: relative;
    &:not(:first-of-type) {
      border-top: 1px solid $formBorderColor;
    }
    label {
      cursor: text;
      @include flexCenter;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: $formInputOverlayColor;
      color: $formLabelColor;
      transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
      .content {
        transition: .3s;
        overflow: hidden;
        font-size: 1em;
      }
      i {
        transition: .3s;
        opacity: 0;
      }
    }
    input, textarea, button[type="submit"] {
      width: 100%;
      height: 100%;
      padding: 10px 10px 10px 55px;
      font-size: 1.2em;
      outline: 0;
      border: 0;
      &:focus + label, &.filled + label {
        background-color: #fff;
        .content {
          font-size: 0;
        }
        i {
          opacity: 1;
        }
        width: 41px;
      }
      &[type="submit"] {
        @include flexCenter;
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        color: $formLabelColor;
        cursor: pointer;
        i {
          transition: .3s;
          height: 0;
          opacity: 0;
        }
        .content {
          transition: .3s;
          height: 100%;
          opacity: 1;
        }
        &:hover {
          i {
            opacity: 1;
          }
          .content {
            opacity: 0;
          }
        }
      }
    }
    textarea + label {
      margin-bottom: 7px;
    }
  }
  .success {
    position: absolute;
    @include flexCenter;
    font-size: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0aad46;
    color: #fff;
    z-index: 1;
  }
  &.submitted .success {
    animation: fade-out 1s 3s forwards;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}