.navmenu {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 100vh;
  width: $navmenuWidth;
  bottom: 0;
  &.inverse {
    &:hover {border-left-color: #424242;}
    li {
      transition: .3s;
      background-color: transparent;
      color: #d7d7d7;
      &:hover {
        color: #e4e4e4;
      }
      &:after {
        background-color: #fff;
      }
      &.about { background-color: lighten($aboutBg, 10); }
      &.skills { background-color: lighten($skillsBg, 10); }
      &.projects { background-color: lighten($projectsBg, 10); }
      &.life { background-color: lighten($lifeBg, 10); }
      &.contact { background-color: lighten($contactBg, 10); }

      .image svg * {fill:white;}
      .image.inverse svg * {fill:transparent;}
      .image.change-stroke svg * {stroke:white;}
      .label{
        &:after {
          background-color: $navmenuItemHoverUnderline1;
        }
        &:before {
          background-color: $navmenuItemHoverUnderline2;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      transition: .3s;
      cursor: pointer;
      background-color: transparent;
      color: #1d1d1d;
      flex-direction: column;
      padding: 10px;
      height: #{100/$numSections}vh;
      min-height: 100px;
      width: 100%;
      @include flexCenter;
      &:hover {
        color: #616161;
        .label {
          &:after, &:before {
            left: 0;
            width: 100%;
          }
        }
        width: 110%;
        transform: translateX(-10px);
        //transform: scale(1.1);
      }
      position: relative;
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        width: 1px;
        height: 0;
        background-color: #000;
        left: 0;
        transition: all .3s;
      }
      &.active {
        &:after {
          transform: translateY(-50%);
          height: #{100/$numSections/4}vh;
          opacity: 1;
          z-index: 2;
        }
      }
      .image {
        z-index: 2;
        transition: all .1s;
        svg {
          width: 40px;
          height: 40px;
          * { fill: black; }
        }
      }
      .image.inverse svg * {fill:transparent;}
      .image.change-stroke svg * {stroke:black;}
      .label {
        z-index: 2;
        position: relative;
        margin-top: 10px;
        &:after, &:before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: auto;
          width: 0;
          height: 2px;
          background-color: #a3007d;
          transition: all 180ms ease-in-out;
        }
        &:before {
          background-color: #ff00dc;
          transition: all 180ms ease-in-out 100ms;
        }
      }
    }
  }
  //.overlay {
  //  position: absolute;
  //  cursor: pointer;
  //  top: 0;
  //  height: 20vh;
  //  background-color: #000;
  //  opacity: .1;
  //  left: 0;
  //  right: 0;
  //  transition: .3s;
  //  z-index: 1;
  //  &:hover {
  //    width: 110%;
  //    transform: translateX(-10px);
  //    ul > li.active {
  //      color: #e4e4e4;
  //      .label {
  //        &:after, &:before {
  //          left: 0;
  //          width: 100%;
  //        }
  //      }
  //      width: 110%;
  //      transform: translateX(-10px);
  //    }
  //  }
  //}
  @include md{
    width: #{$navmenuWidth - 20};
    .image svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
  @include sm{
    width: #{$navmenuWidth - 30};
    .label {display: none;}
    .image svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
}
