ul.technologies {
  list-style-type: none;
  padding: 0;
  display: flex;
  li{
    display: flex;
    flex: 1;
    height: 80px;
    width: 80px;
    @each $technology in $technologies {
      &.#{$technology} {
        background: url("../images/technologies/#{$technology}.png");
        background-size: contain;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }
  }
}