.timeline{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 50px;
  transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 150px;
  &:hover {
    height: 200px;
    margin-top: -50px;
  }
  a {
    text-decoration: none;
    color: #0a75df;
  }
}

.year-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  transition: .3s;
  position: relative;
  justify-content: center;
  align-items: center;
  &:not(:first-of-type) {
    border-left: 1px solid rgba(255,255,255,0.05);
  }

  &:hover {
    flex-wrap: nowrap;
    flex: 2;
    flex-direction: column;
    .event:not(:nth-of-type(2)){border-top-width: 0 !important;}
    .event {
      flex: 1;
      height: 100%;
      width: 100%;
      min-height: fit-content;
      border-radius: 0;
      border-width: 1px;
      padding: 4px;
      .event-info {
        font-size: 12px;
        opacity: 1;
        width: auto;
      }
      .event-icon {
        display: none;
      }
    }
  }
  .year-label {
    position: absolute;
    bottom: 0;
    padding: 20px;
    transform: rotate(45deg) translate(13px, 58px);
  }
  .event-icon {
    transform: scale(.8);
  }
}
.event-info {
  transition: .3s, font-size .05s;
  opacity: 0;
  overflow: hidden;
  font-size: 1px;
  width: 0;
  text-align: center;
}
.event {
  z-index: 1;
  transition: .3s;
  display: flex;
  flex-basis: 50%;
  height: 2.2vw;
  min-height: fit-content;
  border-radius: 100%;
  border: 2px solid #ffffff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.event-animation {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: glower 5s infinite;
}
@keyframes glower {
  0% {
    opacity: .5;
    transform: scale(1);
  }
  80% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}