section.about {
  position: relative;
  transition: all .3s;
  &:after {
    transition: all .3s;
    z-index: -1;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/about_bg.png");
    opacity: 0;
  }
  .image-container {
    position: relative;
    @include flexCenter;
    #me {
      position: absolute;
      height: 392px;
      width: 320px;
      top: 50%;
      transform: scale(1.03) translate(-50%, -50%);
      left: 50%;
      animation: fade-out 3s forwards;
      @include md {
        display: none;
      }
    }
    #me-image{
      //position: absolute;
      opacity: 0;
      height: 400px;
      width: 326px;
      //top: 50%;
      //transform: scale(1.02) translate(-50%, -50%);
      //left: 50%;
      border-radius: 2px;
      animation: fade-in 2s forwards;
      @include md {
        position: relative;
      }
    }
  }
  .description-container{
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.1em;
  }
}

section.about.inverse {
  //background: linear-gradient(-45deg, $aboutBg, lighten($aboutBg, 10));
  &:after {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}