.header {
  @include flexCenter;
  overflow: hidden;
  position: relative;
  transition: background-color .3s;
  &::after {
    content: "";
    background: url("../images/dust_scratches.png");

    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .instructions {
    position: absolute;
    top: 10px;
    font-weight: 100;
    font-size: .6em;
    transition: .1s;
    cursor: default;
    &:hover {
      font-size: .7em;
    }
  }
  .title {
    text-align: center;
    transition: all .3s;
    z-index: 2;
    .hello {
      font-size: 1.4em;
      opacity: .9;
      color: #000;
      background: linear-gradient(to right, #000 40%, #fff,#000 60%);
      background-size: 300%;
      -webkit-background-clip: text;
      animation: title-shine 1s linear 2s;
    }
    .name {
      text-shadow: 6px 3px 10px #d2d2d2;
      font-size: 4em;
      background: linear-gradient(to right, #000 40%, #fff,#000 60%);
      background-size: 300%;
      -webkit-background-clip: text;
      animation: title-shine .6s linear 2.8s forwards;
      color: #000;
      @include sm {
        font-size: 3em;
      }
    }
    .short-info {
      animation: letter-spacing 1s forwards;
    }
  }
  .mouse-scroll-container {
    position: absolute;
    bottom: 7vh;
    &:after {
      content: "Good things might come to those who scroll";
      position: absolute;
      font-weight: 200;
      font-size: .8em;
      width: 280px;
      left: -110px;
      top: -27px;
      transition: .3s;
      opacity: 0;
      transform: translateY(20px);
      display: inline-block;
    }
    &:hover:after {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .mouse-icon {
    height: 60px;
    width: 60px;
    transition: all .1s, stroke .3s;
    cursor: pointer;

    &:active {
      transform: scale(.9);
    }
  }
}

.header.inverse {
  background-color: #444;
  &::after { opacity: 0};
  .title * {
    color: white;
  }
  .mouse-icon * {
    stroke: #fff;
  }
}

@keyframes title-shine {
  0% { color: transparent;background-position: 100% 0;}
  10% { background-position: 100% 0; text-shadow: 6px 3px 0 transparent; }
  90% {  background-position:0 0;}
  100% { text-shadow: 6px 3px 10px #d2d2d2;}
}
@keyframes letter-spacing{
  from { letter-spacing: -8px; }
  to { letter-spacing: 4px; }
}
