section.projects {
  z-index: 11;
  height: auto;
  min-height: 100vh;
  transition: all .3s;
  background-color: #0e0e0e;
  color: #d9d9d9;
  justify-content: flex-start;
  padding: 50px 0;
  #number {
    display: none;
    position: fixed;
    top: 50%;
    left: 20px;
  }
  .projects-container {
    .project {
      margin-top: 25vh;
      margin-bottom: 25vh;
      .project-title {
        font-weight: 200;
      }
      .project-description, .contributors {
        font-weight: 200;
        letter-spacing: 1px;
      }
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
      .project-info {
        transform: translateX(-100px);
        transition: all .3s;
        opacity: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        .project-title {
          font-size: 3em;
        }
      }

      .project-image {
        position: relative;
        transform: translateX(100px) scale(.9);
        transition: all .3s;
        opacity: 0;
        perspective: 1000px;
        .project-image-container {
          background-position: center;
          background-size: cover;
          position: relative;
          box-shadow: 0 28px 84px -55px #777;
          height: 470px;
          transition: border .3s;
          overflow: hidden;

          .project-image-item {
            transition: .5s;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover !important;
            background-position: center !important;
            opacity: 0;
            &.active {
              opacity: 1
            }
          }
          .project-image-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transform: scale(.2);
            color: #fff;
            background-color: rgba(0, 0, 0, .1);
            opacity: 0;
            overflow: hidden;
            transition: .3s ease-in-out;
            display: flex;
            justify-content: center;
            align-content: center;
            border: 1px solid transparent;
            .button {
              transform: scale(2);
              transition: .3s ease-in-out 40ms;
            }
          }
          &:hover{
            .project-image-overlay {
              opacity: 1;
              transform: scale(1);
              background-color: rgba(0, 0, 0, .5);
              border: 1px solid #f2f2f2;
              .button {
                transform: scale(1);
              }
            }
          }
        }
      }

      &.active {
        .project-info {
          transform: translateX(0px);
          opacity: 1;
        }
        .project-image {
          transform: translateX(0px) scale(1);
          opacity: 1;
        }
      }
    }
  }
  #other-projects {
    margin-bottom: 50px;
    .title {
      text-align: center;
      font-size: 2em;
    }
    .project-box {
      display: flex;
      flex-direction: column;
      border: 1px solid #484848;
      padding: 10px;
      height: 100%;
      border-radius: 4px;
      background-color: transparent;
      transition: .2s;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &:hover {
        background-color: #151515;
      }
    }
    .project-title {
      font-size: 1.2em;
      margin: 4px 0 8px;
    }
    .project-description {
      font-size: .9em;
      margin-bottom: 4px;
    }
    .project-footer {
      margin-top: auto;
      display: flex;
      color: #fff;
      .project-forks {
        margin-left: 14px;
      }
      .project-watchers {
        margin-left: 14px;
      }
      .project-link {
        margin-left: auto;
      }
    }
  }
}
section.projects.inverse {
  background-color: $projectsBg;
}
