$numSections: 4;

/* colors */
$primary: #0aad46;
$primaryInverted: #ad470e;
$secondary: #ffed65;
$bg: #05386b;
$white: #edf5e1;

$aboutBg: #282828;
$skillsBg: #084281;
$projectsBg: #364141;
$lifeBg: #9e2222;
$contactBg: #00402b;

$navmenuWidth: 100px;
$navmenuWidthMd: $navmenuWidth - 20;
$navmenuWidthSm: $navmenuWidth - 30;
$navmenuItemHoverUnderline1: #ffed65;
$navmenuItemHoverUnderline2: #0094ff;

$technologies: (
  'html',
  'javascript',
  'laravel',
  'mongodb',
  'mysql',
  'nodejs',
  'parcel',
  'php',
  'react',
  'react-native',
  'react-router',
  'redux',
  'sass',
  'typescript',
  'vuejs',
  'webpack',
  'jwt',
  'handlebars',
  'bulma',
  'flux',
  'material-ui',
  'meteor'
);

$formInputOverlayColor: #e8e8e8;
$formBorderColor: #b6b6b6;
$formLabelColor: #585858;

$footerHeight: 270px;

$sizeSm: 480px + $navmenuWidth;
$sizeMd: 768px + $navmenuWidth;
$sizeLg: 992px + $navmenuWidth;
$sizeXl: 1200px + $navmenuWidth;
