$numSections: 5;

/* colors */
$primary: #0aad46;
$primaryInverted: #ad470e;
$secondary: #FFED65;
$bg: #05386B;
$white: #EDF5E1;

$aboutBg: #282828;
$skillsBg: #084281;
$projectsBg: #364141;
$lifeBg: #9E2222;
$contactBg: #00402b;

$navmenuWidth: 100px;
$navmenuWidthMd: $navmenuWidth - 20;
$navmenuWidthSm: $navmenuWidth - 30;
$navmenuItemHoverUnderline1: #FFED65;
$navmenuItemHoverUnderline2: #0094ff;



$technologies: ('html','javascript','laravel','mongodb','mysql','nodejs','parcel','php','react','react-native', 'react-router','redux','sass','typescript','vuejs','webpack', 'jwt', 'handlebars', 'bulma','flux', 'material-ui', 'meteor');

$formInputOverlayColor: #e8e8e8;
$formBorderColor: #b6b6b6;
$formLabelColor: #585858;

$footerHeight: 270px;

$sizeSm: 0px;
$sizeMd: 480px;
$sizeLg: 768px;
$sizeXl: 992px;