$numSections: 5;

/* colors */
$primary: #0aad46;
$primaryInverted: #ad470e;
$secondary: #FFED65;
$bg: #05386B;
$white: #EDF5E1;

$aboutBg: #282828;
$skillsBg: #084281;
$projectsBg: #364141;
$lifeBg: #9E2222;
$contactBg: #00402b;

$sizeSm: 480px;
$sizeMd: 768px;
$sizeLg: 992px;
$sizeXl: 1200px;


$navmenuWidth: 100px;
$navmenuScrollWidth: 20px;
$navmenuItemHoverUnderline1: #FFED65;
$navmenuItemHoverUnderline2: #0094ff;


$projectsImageBorderWidth: 1px;
$projectsImageBorderHoverColor: gray;

$technologies: ('html','javascript','laravel','mongodb','mysql','nodejs','parcel','php','react','react-native', 'react-router','redux','sass','typescript','vuejs','webpack', 'jwt', 'handlebars', 'bulma','flux');

$formInputOverlayColor: #e8e8e8;
$formBorderColor: #b6b6b6;
$formLabelColor: #585858;

$footerHeight: 200px;