@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700');

@import "variables";
@import "helpers/mixins";
@import "components/navmenu";
@import "components/scrollbar";
@import "components/technologies";
@import "components/timeline";
@import "components/button";
@import "components/box-animation";
@import "components/form-controls";
@import "sections/header";
@import "sections/about";
@import "sections/loading";
@import "helpers/grid";
@import "sections/skills";
@import "sections/life";
@import "sections/contact";
@import "sections/projects";
@import "sections/footer";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
section:not(:first-of-type):not(.projects) {
  padding: 50px #{$navmenuWidth+$navmenuScrollWidth} 50px 0;
}
a {
  transition: .3s;
  color: #93e0ff;
  text-decoration: none;
}
section {
  height: 100vh;
  position: relative;
  @include flexCenter;
  flex-direction: column;
  z-index: 1;
  background-color: #fff;
  &.inverse {color: #fff;}
}
.section-vertical-left {
  position: absolute;
  z-index: 2;
  left: 0;
  font-weight: 200;
  font-size: .9em;
  transform: rotate(-90deg);
  @include md{
    font-size: .6em;
  }
  @include sm{
    display: none;
  }
}
.section-container {
  position: relative;
}
.section-title {
  letter-spacing: 4px;
  font-size: 3em;
  position: relative;
  margin-bottom: 10px;
  &.center {
    text-align: center;
  }
  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 40px;
    background-color: $primaryInverted;
  }
  &.line-center:after {
    left: 50%;
    transform: translateX(-50%);
  }
  &.no-line:after{
    display: none;
  }
}
.inverse .section-title::after {background-color: $primary !important;}
.section-subtitle {
  text-align: center;
  &.bigger {
    font-size: 140%;
    font-weight: 300;
  }
}
.text-center {
  text-align: center;
}
.bigger {
  font-weight: 200;
  font-size: 150%;
}
.inverse .color-highlighted {
  color: $primary !important;
}
.color-highlighted{
  color: $primaryInverted;
}
.flex-center {
  @include flexCenter;
}

small {
  font-size: 80%;
}
.section-separator {
  position: absolute;
  width: calc(100% - #{$navmenuWidth});
  height: 1px;
  z-index: 12;
  background-color: #9a9a9a;
  &.full {
    width: 100%;
  }
}
.vertical-line {
  position: absolute;
  height: 600px;
  width: 1px;
  top: 100px;
  background-color: #292929;
}
.standalone-line-center {
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 40px;
    background-color: $primaryInverted;
    left: 50%;
    transform: translateX(-50%);
}
.inverse .standalone-line-center {background-color: $primary;}

