@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700');

@import "variables";
@import "helpers/mixins";
@import "header";
@import "about";
@import "loading";

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}