<section class="about">
    <div class="container">
        <div class="row">
            <div class="w-md-6 image-container">
                <img id="me-image" src="./images/me.jpg" alt="Me">
                {{>svg/me}}
            </div>
            <div class="w-md-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad amet architecto asperiores at cumque debitis dicta dignissimos doloremque dolores dolorum eligendi est, ex fugiat harum inventore itaque labore, laudantium neque nihil nisi non obcaecati odit officiis omnis possimus quasi quibusdam quis ratione sapiente sit tenetur ut vel vero vitae, voluptatem voluptatibus? Aliquid deserunt enim et exercitationem facilis, fugit, incidunt ipsam magnam minus reiciendis repellendus sunt! At earum, in labore minus nisi nulla rem sunt voluptas? Adipisci aliquid aut consectetur consequatur cum doloribus earum eius enim ex excepturi explicabo fugiat fugit ipsa, laboriosam magni natus nemo nihil nisi nulla, numquam optio pariatur perspiciatis quam, quas qui quia quisquam recusandae rem repellat sapiente sed sint temporibus ullam vitae voluptas voluptates voluptatibus. Ad alias aliquam, aut cupiditate distinctio doloribus eaque est et eum eveniet ex exercitationem facilis fuga illum ipsam iure magni maiores modi nam, nobis nulla odit perferendis placeat praesentium quidem quis quod recusandae rem repellat repellendus rerum sapiente sint tempore unde veritatis voluptates voluptatum. Asperiores deleniti dignissimos error nulla, quidem repudiandae tempora. Aliquid consequatur hic illum impedit, libero nam ullam? Ad architecto commodi dolores illo, illum ipsam laboriosam, nemo neque nisi porro, possimus qui quo repellat sint veniam vero voluptatibus.
            </div>
        </div>

    </div>
</section>