<section class="about">
    <div class="section-vertical-left">Also <a href="https://en.wikipedia.org/wiki/INTP" target="_blank">INTP</a></div>
    <div class="container">
        <div class="row">
            <div class="w-md-5 image-container">
                <div class="flex-center">
                    <img id="me-image" src="./images/me.jpg" alt="Me">
                    {{>svg/me}}
                </div>
            </div>
            <div class="w-md-7 description-container">
                <div class="section-title">About <span class="color-highlighted">me</span></div>
                <p>I'm a passionate Web Developer and Designer based in Iași, Romania.
                    My specialty is full website design and development.
                    I love to create smart and beautiful user interfaces, and to imaginate new ways of building stuff or solving problems.
                    <br>
                    <br>
                    My interests, however, extend beyond the web, I am a perfectionist and a learner, always enjoying reading about something new or exploring the depths of a new topic.
                    I approach each problem as a learning experience and I love to use my creativity and logic to come up with the right solution.
                    <br>
                    <br>
                When I'm not glued to my computer(it rarely happens) I'm probably messing around with hardware stuff or just out for a walk.
                </p>
            </div>
        </div>
    </div>
</section>