<section class="contact">
    <div class="box-animation"></div>
    <div class="section-title line-center">Contact</div>
    <div class="section-subtitle bigger">Need a hand ? I have two!</div>
    <div class="section-subtitle"><span title="I value my time, so make it worth it">Have a question</span><span title="I'm available for freelance or fulltime work"> or want to work together?</span></div>
    <form id="contact" class="submitted">
        <div class="inline-groups">
            <div class="input-group">
                <input type="text" id="fname" required>
                <label for="fname"><i class="fa fa-user"></i> <span class="content">First name</span></label>
            </div>
            <div class="input-group">
                <input type="text" id="lname">
                <label for="lname"><i class="fa fa-user"></i> <span class="content">Last name</span></label>
            </div>
        </div>
        <div class="input-group">
            <input type="email" id="email" required>
            <label for="email"><i class="fa fa-envelope"></i> <span class="content">Email</span></label>
        </div>
        <div class="input-group">
            <textarea id="message" rows="4" required></textarea>
            <label for="message"><i class="fa fa-comment-alt"></i> <span class="content">Message</span></label>
        </div>
        <div class="input-group">
            <button type="submit"><i class="fa fa-check"></i> <span class="content">Submit</span></button>
        </div>
    </form>
</section>