<section class="footer">
    <div class="go-up"><img src="./images/pointing-up.png" alt="pointing up"></div>
    <ul class="emails">
        <li><a href="mailto:contact@alexcambose.ro?Subject=Hello">contact@alexcambose.ro</a></li>
        <li><a href="mailto:alexcambose1@gmail.com?Subject=Hello">alexcambose1@gmail.com</a></li>
        <li><a href="mailto:alexcambose@yahoo.com?Subject=Hello">alexcambose@yahoo.com</a></li>
    </ul>
    <ul class="social-links">
        <li title="Always active"><a target="_blank" href="https://github.com/alexcambose"><img src="./images/social/github.png" alt="github"/></a></li>
        <li title="Always on"><a target="_blank" href="https://www.facebook.com/alexcambose"><img src="./images/social/facebook.png" alt="facebook"/></a></li>
        <li title="Not using it"><a target="_blank" href="https://twitter.com/alexcambose"><img src="./images/social/twitter.png" alt="twitter"/></a></li>
        <li title="A lot of beta stuff"><a target="_blank" href="https://codepen.io/AlexCambose/"><img src="./images/social/codepen.png" alt="codepen"/></a></li>
        <li title="Sometimes"><a target="_blank" href="https://medium.com/@alexcambose"><img src="./images/social/medium.png" alt="medium"/></a></li>
        <li title="Very rare"><a target="_blank" href="https://www.instagram.com/alexcambose/"><img src="./images/social/instagram.png" alt="instagram"/></a></li>
        <li title="I hate it"><a target="_blank" href="https://www.linkedin.com/in/alexcambose/"><img src="./images/social/linkedin.png" alt="linkedin"/></a></li>
    </ul>
    <div class="handcrafted">Handcafted by Alexandru Cambose
        <span class="image-container">
            <img src="./images/rockon.png" alt="rockon" class="rock"><img src="./images/raised-fist.png" alt="raised-fist" class="fist">
        </span>2018</div>
</section>