<section class="footer">
    <ul class="emails">
        <li><a href="">contact@alexcambose.ro</a></li>
        <li><a href="">alexcambose1@gmail.com</a></li>
        <li><a href="">alexcambose@yahoo.com</a></li>
    </ul>
    <ul class="social-links">
        <li><a href="https://github.com/alexcambose">G</a></li>
        <li><a href="https://www.facebook.com/alexcambose">F</a></li>
        <li><a href="https://twitter.com/alexcambose">T</a></li>
        <li><a href="https://codepen.io/AlexCambose/"></a>C</li>
        <li><a href="https://medium.com/@alexcambose"></a>M</li>
        <li><a href="https://www.instagram.com/alexcambose/">I</a></li>
        <li><a href="https://www.linkedin.com/in/alexcambose/">L</a></li>
        <li><a href="https://www.linkedin.com/in/alexcambose/">L</a></li>
    </ul>
    <div class="handcrafted">Handcafted by Alexandru Cambose <img src="./images/rockon.png"> 2018</div>
</section>