<section class="header">
    <div id="header-background"></div>
    <div class="instructions">
        Click anywhere to add new shape
    </div>
    <div class="title">
        <div class="hello">
            Hello, I'm
        </div>
        <div class="name">
            Alexandru Cambose
        </div>
        <div class="short-info">
            Full stack developer & designer
        </div>
    </div>
    <div class="mouse-scroll-container">{{>svg/mouse}}</div>
</section>