<section class="header">
    <div class="line-left"></div>
    <div class="line-right"></div>
    <div class="line-godown"></div>
    <div class="box">
        <span class="box-border"></span>
        <span class="box-border"></span>
        <span class="box-border"></span>
        <span class="box-border"></span>
        <div class="title">
            Alexandru Cambose
        </div>

    </div>
</section>