<div class="loading-screen">
    <svg viewBox="0 0 100 100" width="400" height="400">
       <path id="main" d="M 0 300 L 380 300 L 418 187 L 460 300 L 400 260 L 800 260"></path>
    </svg>
</div>
{{> header}}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>