<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
<!--<div class="loading-screen">-->
<!--<svg viewBox="0 0 800 500" preserveAspectRatio="none">-->
<!--<path id="main" d="M 0 300 L 380 300 L 418 187 L 460 300 L 400 260 L 800 260"></path>-->
<!--</svg>-->
<!--</div>-->
{{> navmenu}}
<div class="section-container">
    {{> header}}
    {{> about}}
    {{> skills}}
    {{> projects}}
    {{!-- {{> life}} --}}
    {{> contact}}
</div>
{{> footer}}

<script>

</script>