<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<div class="loading-screen">-->
    <!--<svg viewBox="0 0 800 500" preserveAspectRatio="none">-->
       <!--<path id="main" d="M 0 300 L 380 300 L 418 187 L 460 300 L 400 260 L 800 260"></path>-->
    <!--</svg>-->
<!--</div>-->
<div class="section-container">
    {{> header}}
    {{> about}}
    <div class="section-separator"></div>
    {{> skills}}
    <div class="section-separator"></div>
    {{> projects}}
    <div class="section-separator"></div>
    {{> life}}
    <div class="section-separator"></div>
    {{> contact}}
    <div class="navmenu">
        <ul>
            <li class="about active">
                <div class="image">
                    {{> svg/about}}
                </div>
                <div class="label">About</div>
            </li>
            <li class="skills">
                <div class="image inverse change-stroke">
                    {{> svg/skills}}
                </div>
                <div class="label">Skills</div>
            </li>
            <li class="projects">
                <div class="image">
                    {{> svg/projects}}
                </div>
                <div class="label">Projects</div>
            </li>
            <li class="life">
                <div class="image">
                    {{> svg/life}}
                </div>
                <div class="label">Life</div>
            </li>
            <li class="contact">
                <div class="image">
                    {{> svg/contact}}
                </div>
                <div class="label">Contact</div>
            </li>
        </ul>
    </div>
</div>


