<section class="life">
    <div class="alive">
        I have been alive for
        <span class="alive-days"></span>
        days!
    </div>
    <div class="percent">
        I have lived
        <span class="alive-percent"></span>
        of my life!
    </div>
</section>