<section class="life">
    <div class="section-title no-line">Life</div>
    <div class="timeline-container">
        <div class="timeline">
            <div class="year-container"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="w-md-6">
                <div class="alive">
                    I have been alive for
                    <span class="alive-days"></span>
                    days!
                </div>
            </div>
            <div class="w-md-6">
                <div class="percent">
                    I have lived
                    <span class="alive-percent"></span>
                    of my life!
                </div>
            </div>
        </div>
    </div>


</section>