<section class="projects">
    projects
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
    p<br>
</section>