<section class="projects">
    <div class="projects-container">
        <div class="section-title no-line">Projects <div class="standalone-line-center"></div></div>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
        p<br>
    </div>
</section>