<section class="projects">
    <div class="section-title center no-line">Projects <div class="standalone-line-center"></div></div>
    <p>Some of my work</p>
    <div class="projects-container">
        <div class="row project active">
            <div class="col-md-6 project-info align-center">
                <div class="project-title">Motus</div>
                <div class="project-description">
                    Animation library that mimics CSS keyframes when scrolling.
                </div>
                <div class="project-technologies">
                    <ul>
                        <li class="typescript"></li>
                        <li class="HTML"></li>
                        <li class="JS"></li>
                        <li class="CSS"></li>
                        <li class="SASS"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="project-image align-center">
                    <div class="project-image-container" style="background: url('https://i.imgur.com/e2ZZ8Wa.png');">
                        <div class="project-image-overlay">
                            <a href="github.com" target="_blank" class="button button-github">f</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>