<section class="skills">
    <div class="container flex-center">
        <div class="section-title line-center">Skills</div>
        <p>Here is a selection of relevant technologies that I have experience with</p>
        <div class="skills-container">
            <div class="row">
                <div class="col-md-3">
                <span class="skills-title">
                    <ul>
                        <li>Skill #1</li>
                        <li>Skill #2</li>
                        <li>Skill #3</li>
                        <li>Skill #4</li>
                    </ul>
                </span>
                </div>
                <div class="col-md-3">c</div>
                <div class="col-md-3">d</div>
                <div class="col-md-3">e</div>
            </div>
        </div>
    </div>

</section>