<section class="skills">
    <!--<div class="flex-center flex-column">-->
        <div class="section-title line-center">Skills</div>
        <p>Here is a selection of relevant technologies that I have experience with</p>
        <div class="skills-container">
            <div class="row">
                <div class="col-md-3 skillset">
                    <div class="skills-title">LANGUAGES</div>
                    <ul>
                        <li title="Not a PROGRAMMING LANGUAGE definitely">HTML5</li>
                        <li title="CSS variables... meh, I bet it doesn't work on IE">CSS3 <small>(SCSS, SASS)</small></li>
                        <li title="Awesome!! ...and wired">Javascript <small>(ES6, TypeScript)</small></li>
                        <li title="Old but gold">PHP7</li>
                        <li title="Pretty useful and modern.. I mean graphQL">SQL, GraphQL</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">FRAMEWORKS & LIBS</div>
                    <ul>
                        <li title="AMAZING">React <small>(Redux, Router, Apollo, Native)</small></li>
                        <li title="Pretty new but nice">Vue.js <small>(Vuex, Router)</small></li>
                        <li title="YES YES YES <3">Node.js <small>(Express, Mongoose, JWT)</small></li>
                        <li title="A very very very smart framework developed by smart people">Laravel</li>
                        <li title="Jquery hah, I'll just document.getElementsByClassName()">JQuery, Lodash, Axios, Socket.io</li>
                        <li title="You can build a chat app in 3 seconds">Meteor</li>
                        <li title="It's a hidden browser, good for light stuff">Cordova</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">TOOLS</div>
                    <ul>
                        <li title="It's just the beasts under your bed, in your closet, in your head">NPM, Yarn</li>
                        <li title="Good boy">Webpack, Parcel</li>
                        <li title="Webpack is better than mee :(">Gulp</li>
                        <li title="The translator for IE users">Babel</li>
                        <li title="Annoying but educational">Eslint</li>
                        <li title="SYMPHONY OF DESTRUCTION">Mocha, Chai</li>
                        <li title="Pain killer, not paracetamol">Moustache, Handlebars, Twig</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">ADDITIONAL FUN STUFF</div>
                    <ul>
                        <li title="The oracle">Git & Github</li>
                        <li title="Come crawling faster">Bootstrap, Bulma, Materialize, Foundation</li>
                        <li title=".find({username: 'SQL'}) // [ ]">Mongodb</li>
                        <li title="I kinda hate it but it's nice for noobs">Wordpress</li>
                        <li title="I can draw trees :) and design logos with illustrator">Adobe Illustrator & Photoshop</li>
                        <li title="Just call my name cause I'll hear you scream!">LINUX server, Apache2</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">EVEN MORE STUFF</div>
                    <ul>
                        <li title="ew">TDD</li>
                        <li title="Cool">PhpMyAdmin</li>
                        <li title="F5 saver">Postman</li>
                        <li title="Used it when learning AI.">Python</li>
                        <li title="Old times, back in 2011 when I was developing windows apps!">C#</li>
                    </ul>
                </div>
            </div>
        </div>
    <!--</div>-->

</section>