<section class="skills">
    <!--<div class="flex-center flex-column">-->
        <div class="section-title line-center">Skills</div>
        <p>Here is a selection of relevant technologies that I have experience with</p>
        <div class="skills-container">
            <div class="row">
                <div class="col-md-3 skillset">
                    <div class="skills-title">LANGUAGES</div>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3 <small>(SCSS, SASS)</small></li>
                        <li>Javascript <small>(ES6, TypeScript)</small></li>
                        <li>PHP7</li>
                        <li>SQL, GraphQL</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">FRAMEWORKS & LIBS</div>
                    <ul>
                        <li>React <small>(Redux, Router, Apollo, Native)</small></li>
                        <li>Vue.js <small>(Vuex, Router)</small></li>
                        <li>Node.js <small>(Express, Mongoose, JWT)</small></li>
                        <li>Laravel</li>
                        <li>JQuery, Lodash, Axios, Socket.io</li>
                        <li>Meteor</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">TOOLS</div>
                    <ul>
                        <li>NPM, Yarn</li>
                        <li>Webpack, Parcel</li>
                        <li>Gulp</li>
                        <li>Babel</li>
                        <li>Eslint</li>
                        <li>Mocha, Chai</li>
                        <li>Moustache, Handlebars, Twig</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">ADDITIONAL FUN STUFF</div>
                    <ul>
                        <li>Git</li>
                        <li>Bootstrap, Bulma, Materialize</li>
                        <li>Mongodb</li>
                        <li title="I kinda hate it">Wordpress</li>
                        <li>Adobe Illustrator & Photoshop</li>
                        <li>LINUX server, Apache2</li>
                    </ul>
                </div>
                <div class="col-md-3 skillset">
                    <div class="skills-title">EVEN MORE STUFF</div>
                    <ul>
                        <li>TDD</li>
                        <li>PhpMyAdmin</li>
                        <li>Mongodb</li>
                        <li title="I kinda hate it">Wordpress</li>
                        <li>Adobe Illustrator & Photoshop</li>
                        <li>LINUX server, Apache2</li>
                    </ul>
                </div>
            </div>
        </div>
    <!--</div>-->

</section>