@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html {
  scroll-behavior: smooth
}
/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
/* Track */
::-webkit-scrollbar-track {
  @apply bg-blue-500;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-page-frame-color-dark;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-background-light
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section-header {
  width: calc(100vw - 1.5rem + 24px)
}
@media not all and (min-width: 640px) {
  ::-webkit-scrollbar {
      @apply w-1;
  }
  .section-header {
    width: calc(100vw - 1.5rem + 28px)
  }
}
